.handcards{
    display: flex;
    flex-wrap:wrap ;
    min-height: 185px;
}

.player_hand{
    width: 33%;
    height: 50vh;
}

.cards_played{
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px 0 0;
    .card{
        width: 80px;
        img{
            width: 80px;
            height: 115px;
        }
        &:hover{
            border: none;
            cursor: initial;
        }
    }
}

.card{
    position: relative;
    width: 110px;
    height: fit-content;
    border-radius: 4px;
    margin: 15px 5px;
    z-index: 5;
    img{
        border-radius: 4px;
        width: 110px;
        height: 155px;
    }
    &:hover{
        border: 1px solid white;
        cursor: pointer;
    }
}

.selected{
    border: 2px solid blueviolet;
    &:hover{  
        border: 2px solid blueviolet !important;
    }
}