#handcards{
    width: 33%;
    height: 50vh;
}

.card{
    width: 110px;
    height: auto;
    border-radius: 4px;
    margin: 15px;
    img{
        border-radius: 4px;
    }
    &:hover{
        border: 1px solid white;
        cursor: pointer;
    }
}